---

- name: Get docker swarm worker tokken
  set_fact:
    swarm_worker_token: "{{ hostvars[groups['swarm-primary-manager'][0]]['swarm_worker_token'] }}"
  tags:
    - worker_setup

- name:   Join Docker Swarm
  become: true
  ignore_errors: yes
  shell:  docker swarm join --token {{ swarm_worker_token.stdout }} {{ master_ip }}:{{ master_port }}
  tags:
    - worker_setup