---

- name:    Initialise Docker Swarm
  become:  true
  ignore_errors: yes
  shell:   docker swarm init --advertise-addr {{ master_ip }}

- name:     Get docker swarm worker tokken
  become:   true
  register: swarm_worker_token
  shell:    docker swarm join-token -q worker
  tags:
    - worker_setup